.dp {

  /* margin-left: auto; */
  /* display: flex; */
  border-radius: 50%;
  margin-top: 30px;
  width:70%;
  height: auto;
  opacity: 0.7;

}

.intro {
  width: 40%;
  float: left;
}

.content {
  margin-left: 30px;
  margin-right: 30px;
  /* padding-top: 50px; */
  /* background-color: rgb(231, 231, 231); */
  font-size: large;
  /* height: 100vh; */
}

.connect {
  font-size: 300%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.skills-sec {
  text-align: center;
  font-size: 2rem;
}

.jumbotron {
  /* background-color: #e2d4d7; */
  background : repeating-radial-gradient(
    circle at 0 0,
    rgb(250, 248, 248),
    rgb(240, 237, 237) 200px
  );
  border-radius: 30px;
  border-radius: 0;
}

.tab-content {
  font-size: 90%;
  /* font-family: cursive; */

}

.card-block {
  font-size: medium;
  margin-left: 30px;
}

h4 {
  font-size: 100%;
}

.rainbow {
  -webkit-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #fcfcfc, #d8c4c8, #c394f0, #89ace4);
  background-size: 800% 800%
}

@-webkit-keyframes rainbow {
  0% {
      background-position: 1% 80%
  }
  50% {
      background-position: 99% 20%
  }
  100% {
      background-position: 1% 80%
  }
}

@keyframes rainbow {
  0% {
      background-position: 1% 80%
  }
  50% {
      background-position: 99% 20%
  }
  100% {
      background-position: 1% 80%
  }
}